@media print {
  body * {
    visibility: hidden;
  }

  [data-testid="scoreboard-canvas"],
  [data-testid="scoreboard-canvas"] * {
    visibility: visible;
  }

  [data-testid="scoreboard-canvas"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transform: none !important;
  }

  @page {
    size: landscape;
    margin: 0;
  }
}
